#Back-end
/node_modules

yarn-error.log*
yarn-debug.log*
npm-debug.log*

#Front-end
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/blog-system-client-react/node_modules
/blog-system-client-react/.pnp
/blog-system-client-react/.pnp.js

# testing
/blog-system-client-react/coverage

# production
/blog-system-client-react/build

# misc
/blog-system-client-react/.DS_Store
/blog-system-client-react/.env.local
/blog-system-client-react/.env.development.local
/blog-system-client-react/.env.test.local
/blog-system-client-react/.env.production.local

/blog-system-client-react/npm-debug.log*
/blog-system-client-react/yarn-debug.log*
/blog-system-client-react/yarn-error.log*

